header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c2ad44;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}