header {
  /* height: 400px; */
  /* height: 17vh; */
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffd60a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

.main-header {
  height: 75%;
  padding: 3%
}
 h2 {
  margin: 0;
}