nav {
  position: sticky;
  top: 0px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  display: flex;
  align-content: center;
  justify-content: space-between;
  cursor: default;
}

nav:first-child {
  padding: 1.5em;
  font-family: 'Bungee', cursive;
}

nav i {
  /* Chevron Icon */
  color: red;
}

.navbutton:hover {
  cursor: pointer;
  box-shadow: 0px 3px 2px #1f388a;
  transition: box-shadow .2s ease-in;
}