nav {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 14vh;
  background-color: #ffd60a;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  color: #FFFFFF;
  display: flex;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
  cursor: default;
}

nav:first-child {
  padding: 1.5em;
  font-family: 'Bungee', cursive;
}


.navbutton {
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: center;
}

.navbutton:hover {
  cursor: pointer;
  color: gray
}

@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}

nav i {
  /* Chevron Icon */
  color: red;
  margin-top:3px;
  animation: bounce 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

