.new-tweet {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

textarea {
  height: auto;
  /* vh is based on height may want to change, % relative to overall */
  width: 100%;
  background-color: #f4f1ec;
  border-color: #f4f1ec;
  border-bottom-color: #545149;
  border-bottom-width: thick;
  color: #545149;
  padding: 5px;
  resize: none;
  outline-width: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Button and Count  */

.new-tweet div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
}

button {
  background-color: #4056a1;
  color: #FFFFFF;
}

/* Class of the counter will Add to counterLimit Class if the char. count is over 140 */

.counterLimit {
  color: red;
}

#inputError {
  color: red;
  align-self: center;
  border: solid red;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .2rem;
 
}