.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee', cursive;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  height: auto;
  /* vh is based on height may want to change, % relative to overall */
  width: 100%;
  background-color: #f4f1ec;
  border-color: #f4f1ec;
  border-bottom-color: #545149;
  color:#545149;
  border-bottom-width: thick;
  padding: 5px;
  resize: none;   
  outline-width: 0;
  /* Go with a number (possibly rem) */
  font-size: 1rem;
}

/* Button and Count  */
.new-tweet div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

button {
  background-color: #4056a1;
  color: #FFFFFF;
}